html {
  font-family: Helvetica, Arial;
  background-color: black;
  margin: 30px;
  font-size: 20px;
  color: #34b000;
}

a {
  color: #34b4eb;
  text-decoration: none;
  font-weight: bold;
}

a:visited, a:hover {
  color: #34b4eb;
}

.module {
  margin-bottom: 40px;
}

.large {
  font-size: 2rem;
}
