html {
  font-family: Helvetica, Arial;
  background-color: black;
}

a {
  color: #34b4eb;
  text-decoration: none;
  font-weight: bold;
}

a:visited, a:hover {
  color: #34b4eb;
}

.install {
  margin: 30px;
  font-size: 2rem;
}
